body {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* background-image: linear-gradient(256deg,#3d009e, #02e0e7); */
  background-image: url(/assets/main-page-assets/video_preview.gif);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0;
}

.nav-container {
  background-color: rgba(38, 90, 110, 0.74);
  border-radius: 25px;
  animation: floatAnimation 3s ease-in-out infinite,
    resonateEffect 3s ease-in-out infinite;
}

.label {
  animation: resonatingText 3s ease-in-out infinite;
  color: rgb(161, 161, 150);
  font-family: "Times New Roman", Times, serif;
}

.list {
  height: auto;
  width: 100%;
  border-radius: 23px;
  margin: 30px;
  transition: 350ms;
  box-shadow: 3px 3px rgb(2, 2, 2);
}

.list:hover {
  transform: translateY(-10px);
  box-shadow: 3px 5px 5px 5px rgb(0, 0, 0);
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  animation: floatAnimation 3s ease-in-out infinite;
  margin: 0 auto;
  width: 100%;
  max-width: 400px; /* Adjust as needed */
  height: 300px; /* Set a fixed height */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #000;
  color: rgb(247, 217, 52);
  transform: rotateY(180deg);
}

.flip-card-img {
  height: 100%; /* Make sure the image fills the card */
  width: 100%;
  border-radius: 20px;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: rgb(255, 255, 255);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h3 {
  color: rgb(204, 5, 5);
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 320px) {
  .flip-card {
    width: 100%;
    height: 300px; /* Ensure consistent height across devices */
  }

  .text {
    font-size: 10px;
  }
}

@media (min-width: 480px) {
  .flip-card {
    width: 100%;
    height: 400px;
  }

  .text {
    font-size: 20px;
  }
}

@media (min-width: 600px) {
  .flip-card {
    width: 100%;
    height: 400px;
  }

  .text {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .flip-card {
    width: 100%;
    height: 300px;
  }

  .text {
    font-size: 20px;
  }
}

@media (min-width: 801px) {
  .flip-card {
    width: 100%;
    height: 300px;
  }

  .text {
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  .flip-card {
    width: 100%;
    height: 400px;
  }

  .text {
    font-size: 25px;
  }
}

@media (min-width: 1281px) {
  .flip-card {
    width: 100%;
    height: 400px;
  }

  .text {
    font-size: 30px;
  }
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -10px
    ); /* Adjust as needed for desired float height */
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes resonateEffect {
  0% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 20px 5px rgb(212, 141, 8); /* Adjust as needed for desired float height */
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
}

@keyframes resonatingText {
  0% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 125, 4, 0.993);
  }
  100% {
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
  }
}
