html{
    height: 100%;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: linear-gradient(256deg,#3d009e, #02e0e7);
    display: grid;
    margin: 0;
    align-items: center;
}

ul{
    list-style-type: none;
}

li{
    cursor: pointer;
    text-align: center;

}

.nav-main{
    width: 600px;
    grid-column: 2 / 3;
    margin-top: 20px;
}

.nav-container{
    align-items: center;
    justify-items: center;
    background-color: rgba(38, 90, 110, 0.74);
    border-radius: 25px;
}

.app-list{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 40%;
    width: 50%;
}

.list{
    height: auto;
    width: 200px;
    border-radius: 23px;
    margin: 30px;
    transition: 350ms;
    box-shadow: 3px 3px rgb(2, 2, 2);
}

.list:hover{
    transform: translateY(-10px);
    box-shadow: 3px 5px 5px 5px rgb(0, 0, 0);
}

.proj-1{
    grid-column: 1;
}

.proj-2{
    grid-column: 2;
}

.flip-card {
    background-color: transparent;
    width: 350px;
    height: 350px;
    perspective: 1000px;
    display: grid;
    grid-column: 3;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
    
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: #000000;
    color: rgb(247, 217, 52);
    transform: rotateY(180deg);
  }

  .flip-card-img{
    height: auto;
    width: 100%;
    border-radius: 20px;
  }

  h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  h2{
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h3{
    color: rgb(204, 5, 5);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
  }

@media (min-width:320px)  {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    
}
@media (min-width:480px)  {
    /* smartphones, Android phones, landscape iPhone */

}
@media (min-width:600px)  {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

}
@media (min-width:801px)  {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    
}
@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */

}
@media (min-width:1281px) {
    /* hi-res laptops and desktops */
    
}