html{
    height: 100%;
}



body{
    margin: 0%;
    padding: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: linear-gradient(180deg, #00d9ff, #690b0b);
}

body{
    height: 100%;
}


.main{
    background-color: rgb(0, 35, 44);
    height: 60%;
    width: 40%;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
    background-color: #35155f8e;
    position: relative;
}

.login-header{
    position: absolute;
    top: 300px;
    font-size: 20px;
    text-align: center;
}

.form {
    height: 50%;
    text-align: center;
    position: absolute;
    padding: 20px;
    margin: 20px;
    margin-top: 10px;
    display: grid;
    align-self: flex-start;
    justify-items: center;
    align-items: center;
}

.logo {
    height: auto;
    width: 70px;
    margin-bottom: 50px;
}

.username, .password{
    background-color: rgba(241, 241, 241, 0.219);
    width: 100%;
    padding: 5px 0px 5px 5px;
    text-indent: 20px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 19px;
    position: relative;
}

.username{
    margin-top: 20px;
}

.username::placeholder, .password::placeholder{
    color: rgb(236, 236, 236);
}

.login, .signup{
    background-color: rgb(152, 222, 240);
    width: 100%;
    padding: 7px;
    border: 1px solid gray;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    position: relative;
}

.login-msg-error-holder{
    width: 100px;
    height: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-top: -170px;
    grid-row: 1;
}

.login-msg-error{
    width: 200px;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #817f7f;
    background-color: #252525;
    color: #773737;

    opacity: 0;
}

.error-msg-second-line{
    display: block;
}

@media screen and (min-width:320px)  {
    /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .main{
        height: 600px;
        width: 300px;
        border-radius: 20px;
        left: -5px;
    }

    .login-header{
        top: 33%;
        font-size: 18px;
    }

    .username, .password{
        bottom: -150px;
        width: 90%;
    }

    .login, .signup{
        bottom: -600%;
        width: 90%;
    }

    .login-msg-error-holder{
        margin-top: -40px;
    }
}

@media (min-width:480px)  {
    /* smartphones, Android phones, landscape iPhone */
    .login-header{
        top: 30%;
        font-size: 18px;
    }

    .username, .password{
        bottom: -100px;
        width: 110%;
    }

    .login, .signup{
        bottom: -190px;
        width: 110%;
    }

    .login-msg-error-holder{
        margin-top: -110px;
    }
}
@media (min-width:600px)  {
    /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .main{
        height: 600px;
        width: 500px;
        border-radius: 40px;
    }
    .login-header{
        top: 30%;
        font-size: 18px;
    }

    .username, .password{
        bottom: -140px;
        width: 180%;
    }

    .login, .signup{
        bottom: -170px;
        width: 180%;
    }

    .login-msg-error-holder{
        margin-top: -100px;
    }
}
@media (min-width:801px)  {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .main{
        height: 600px;
        width: 600px;
        border-radius: 20px;
    }

    .login-header{
        top: 26%;
        font-size: 18px;
    }

    .username, .password{
        bottom: -100px;
        width: 140%;
    }

    .login, .signup{
        bottom: -180px;
        width: 140%;
    }

    .login-msg-error-holder{
        margin-top: -130px;
    }
}
@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
    .login-header{
        top: 25%;
        font-size: 24px;
    }

    .username, .password{
        bottom: -100px;
        width: 140%;
    }

    .login, .signup{
        bottom: -180px;
        width: 140%;
    }

    .login-msg-error-holder{
        margin-top: -120px;
    }
}
@media (min-width:1281px) {
    /* hi-res laptops and desktops */
    .login-header{
        top: 20%;
        font-size: 24px;
    }

    .username, .password{
        bottom: -100px;
        width: 190%;
    }

    .login, .signup{
        bottom: -180px;
        width: 190%;
    }

    .login-msg-error-holder{
        margin-top: -140px;
    }
}