html{
    height: 100%;
}



body{
    margin: 0%;
    padding: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: linear-gradient(180deg, #00d9ff, #690b0b);
}

body{
    height: 100%;
}


.main{
    background-color: rgb(0, 35, 44);
    /* position: relative; */
    height: 60%;
    width: 40%;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
    background-color: #35155f8e;

    @media screen and (max-width: 720px) {
        height: 80%;
        width: 80%;
        border-radius: 40px;
    }

}

.login-header{
    position: absolute;
    top: 300px;
    font-size: 20px;
    text-align: center;

    @media screen and (max-width: 720px) {
        top: 30%;
        font-size: 18px;
    }

    @media screen and (min-width: 1920px) {
        top: 32%;
        font-size: 18px;
    }
}



.form {
    /* background-color: rgba(0, 0, 0, 0.5); */
    height: 50%;
    text-align: center;
    position: absolute;
    padding: 20px;
    margin: 20px;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin-top: 10px;
    display: grid;
    align-self: flex-start;
    justify-items: center;
    align-items: center;
}

.logo {
    /* margin-top: 200px; */
    height: auto;
    width: 70px;
    margin-bottom: 50px;
}



.username, .password{
    background-color: rgba(241, 241, 241, 0.219);
    /* margin-top: 5px; */
    width: 100%;
    padding: 5px 0px 5px 5px;
    text-indent: 20px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 19px;
    margin-bottom: 10px;

    @media screen and (max-width: 720px) {
        position: relative;
        bottom: -90px;
    }
    @media screen and (min-width:320px)  {
        /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
        
    }
    @media screen and (min-width:481px)  {
        /* smartphones, Android phones, landscape iPhone */
        
    }
    @media screen and (min-width:641px)  {
        /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
        
    }
    @media screen and (min-width:961px)  {
        /* tablet, landscape iPad, lo-res laptops ands desktops */
        
    }
    @media screen and (min-width:1025px) {
        /* big landscape tablets, laptops, and desktops */
        
    }
    @media screen and (min-width:1281px) {
        /* hi-res laptops and desktops */
        
    }
    
    
}

.username{
    margin-top: 20px;
}

.username::placeholder, .password::placeholder{
    color: rgb(236, 236, 236);
}

.login, .signup{
    background-color: rgb(152, 222, 240);
    width: 100%;
    /* margin-top: 10px; */
    /* height: 25%; */
    padding: 7px;
    border: 1px solid gray;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    @media screen and (max-width: 720px) {
        position: relative;
        bottom: -90px;
    }
    @media screen and (min-width:320px)  {
        /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
        
    }
    @media screen and (min-width:481px)  {
        /* smartphones, Android phones, landscape iPhone */
        
    }
    @media screen and (min-width:641px)  {
        /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
        
    }
    @media screen and (min-width:961px)  {
        /* tablet, landscape iPad, lo-res laptops ands desktops */
        
    }
    @media screen and (min-width:1025px) {
        /* big landscape tablets, laptops, and desktops */
        
    }
    @media screen and (min-width:1281px) {
        /* hi-res laptops and desktops */
        
    }
}

/* .login {
    margin-bottom: 50px;
} */


.login-msg-error-holder{
    width: 100px;
    height: 100px;
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin-top: -170px;
    grid-row: 1;

    @media screen and (max-width: 1024px) {
        margin-top: -140px;
    }

    @media screen and (max-width: 1280px) {
        margin-top: -140px;
    }
    @media screen and (min-width:320px)  {
        /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
        margin-top: -110px;
    }

    @media screen and (min-width:481px)  {
        /* smartphones, Android phones, landscape iPhone */
        margin-top: -160px;
    }

    @media screen and (min-width:641px)  {
        /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

    }
    @media screen and (min-width:961px)  {
        /* tablet, landscape iPad, lo-res laptops ands desktops */

    }
    
    @media screen and (min-width:1025px) {
        /* big landscape tablets, laptops, and desktops */

    }

    @media screen and (min-width:1281px) {
        /* hi-res laptops and desktops */
        
    }
}


.login-msg-error{
    width: 200px;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #817f7f;
    background-color: #252525;
    color: #773737;

    opacity: 0;
}

.error-msg-second-line{
    display: block;
}